src/LogicApps/sp-page-to-blob/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflow_name": {
            "defaultValue": "sp-page-to-blob",
            "type": "String"
        },
        "subscription_Id": {
            "defaultValue": "",
            "type": "String"
        },
        "location": {
            "defaultValue": "eastus",
            "type": "String"
        },
        "sharepoint_site_url": {
            "defaultValue": "",
            "type": "String"
        },
        "sharepoint_list_name": {
            "defaultValue": "Site Pages",
            "type": "String"
        },
        "azurequeue_name": {
            "defaultValue": "sharepoint-pages",
            "type": "String"
        },
        "connections_azurequeue_externalid": {
            "defaultValue": "",
            "type": "String"
        },
        "connections_sharepointonline_externalid": {
            "defaultValue": "",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflow_name')]",
            "location": "[parameters('location')]",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "Get_Page_Id_from_ETag": {
                            "inputs": "@substring(split(body('Get_file_metadata')?['ETag'], ',')[0], 2, 36)",
                            "runAfter": {
                                "Get_file_metadata": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose"
                        },
                        "Get_file_metadata": {
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('@{parameters('sharepoint_site_url')}'))}/files/@{encodeURIComponent(triggerBody()?['{Identifier}'])}"
                            },
                            "runAfter": {},
                            "type": "ApiConnection"
                        },
                        "Put_a_message_on_a_queue_(V2)": {
                            "inputs": {
                                "body": "@{outputs('Get_Page_Id_from_ETag')}",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azurequeues']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/queues/@{encodeURIComponent('@{parameters('azurequeue_name')}')}/messages"
                            },
                            "runAfter": {
                                "Get_Page_Id_from_ETag": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_an_item_or_a_file_is_modified": {
                            "evaluatedRecurrence": {
                                "frequency": "Minute",
                                "interval": 3
                            },
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('@{parameters('sharepoint_site_url')}'))}/tables/@{encodeURIComponent(encodeURIComponent('@{parameters('sharepoint_list_name')}'))}/onchangeditems"
                            },
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 3
                            },
                            "splitOn": "@triggerBody()?['value']",
                            "type": "ApiConnection"
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azurequeues": {
                                "connectionId": "[parameters('connections_azurequeue_externalid')]",
                                "connectionName": "azurequeues",
                                "id": "/subscriptions/@{parameters('subscription_id')}/providers/Microsoft.Web/locations/@{parameters('location')}/managedApis/azurequeues"
                            },
                            "sharepointonline": {
                                "connectionId": "[parameters('connections_sharepointonline_externalid')]",
                                "connectionName": "sharepointonline",
                                "id": "/subscriptions/@{parameters('subscription_id')}/providers/Microsoft.Web/locations/@{parameters('location')}/managedApis/sharepointonline"
                            }
                        }
                    }
                }
            }
        }
    ]
}