src/LogicApps/sp-page-to-blob/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Add_a_message_to_queue": {
                "inputs": {
                    "parameters": {
                        "message": "@outputs('Compose_Queue_Message_Content')",
                        "queueName": "@parameters('azure_storage_queue_name')"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureQueuesForPages",
                        "operationId": "putMessage",
                        "serviceProviderId": "/serviceProviders/azurequeues"
                    }
                },
                "runAfter": {
                    "Compose_Queue_Message_Content": [
                        "SUCCEEDED"
                    ]
                },
                "type": "ServiceProvider"
            },
            "Compose_Queue_Message_Content": {
                "inputs": {
                    "page_id": "@outputs('Get_PageId_from_ETag')",
                    "site_id": "@{parameters('sharepoint_site_id')}"
                },
                "runAfter": {
                    "Get_PageId_from_ETag": [
                        "SUCCEEDED"
                    ]
                },
                "type": "Compose"
            },
            "Get_PageId_from_ETag": {
                "inputs": "@substring(split(body('Get_file_metadata')?['ETag'], ',')[0], 2, 36)",
                "runAfter": {
                    "Get_file_metadata": [
                        "SUCCEEDED"
                    ]
                },
                "type": "Compose"
            },
            "Get_file_metadata": {
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "sharepointonline"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sharepoint_site_url')))}/files/@{encodeURIComponent(triggerBody()?['{Identifier}'])}"
                },
                "runAfter": {},
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_an_item_or_a_file_is_modified": {
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "sharepointonline"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sharepoint_site_url')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('sharepoint_pages_list_name')))}/onchangeditems"
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 1
                },
                "splitOn": "@triggerBody()?['value']",
                "type": "ApiConnection"
            }
        }
    },
    "kind": "Stateful"
}