src/LogicApps/sp-file-to-blob/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Get_file_content": {
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "sharepointonline"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sharepoint_site_url')))}/files/@{encodeURIComponent(triggerBody()?['{Identifier}'])}/content",
                    "queries": {
                        "inferContentType": true
                    }
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "HTTP_Set_SourceURI_Metadata": {
                "inputs": {
                    "authentication": {
                        "audience": "https://storage.azure.com/",
                        "identity": "@{parameters('azure_managed_identity_id')}",
                        "type": "ManagedServiceIdentity"
                    },
                    "headers": {
                        "x-ms-meta-sourceuri": "@{triggerBody()?['{Link}']}",
                        "x-ms-version": "2020-04-08"
                    },
                    "method": "PUT",
                    "uri": "https://@{parameters('azure_storage_account_name')}.blob.core.windows.net/@{parameters('azure_storage_account_container_name')}/@{variables('file_name')}?comp=metadata"
                },
                "runAfter": {
                    "Upload_blob_to_storage_container": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "Http"
            },
            "Initialize_filename": {
                "inputs": {
                    "variables": [
                        {
                            "name": "file_name",
                            "type": "string",
                            "value": "@triggerBody()?['{FilenameWithExtension}']"
                        }
                    ]
                },
                "runAfter": {
                    "Get_file_content": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Upload_blob_to_storage_container": {
                "inputs": {
                    "parameters": {
                        "blobName": "@variables('file_name')",
                        "containerName": "@parameters('azure_storage_account_container_name')",
                        "content": "@body('Get_file_content')",
                        "overrideIfExists": "true"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureBlobForIndexing",
                        "operationId": "uploadBlob",
                        "serviceProviderId": "/serviceProviders/AzureBlob"
                    }
                },
                "runAfter": {
                    "Initialize_filename": [
                        "SUCCEEDED"
                    ]
                },
                "type": "ServiceProvider"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_file_is_created_or_modified_(properties_only)": {
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "sharepointonline"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sharepoint_site_url')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('sharepoint_list_name')))}/onupdatedfileitems"
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 1
                },
                "splitOn": "@triggerBody()?['value']",
                "type": "ApiConnection"
            }
        }
    },
    "kind": "Stateful"
}